.body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color:green;
}
.feature-css{
	width: 100px;
	position: absolute;
	top:  10%;
	bottom: 10%;
	right: 40%;
	transform: translate(-50%,-50%);
}
.feature{
	width: 100px;
	position: absolute;
	top: 100%;

	right: 40%;
	transform: translate(-50%,-50%);
}

